
# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# OpenWeather
OPENWEATHER_API_KEY=your_openweather_api_key_here

# S3
SELECTEL_ACCESS_KEY=your_selectel_access_key
SELECTEL_SECRET_KEY=your_selectel_secret_key
SELECTEL_ENDPOINT=https://s3.storage.example.com

AIRFLOW_UID=1000