name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build all images
        run: |
          # Перенесите флаг --progress перед подкоманду build
          docker compose --progress=plain build --no-cache
          
          # Команды для проверки образов
          docker images | grep -E "(airflow|postgres|redis|pgadmin)" || true
